<HTML><HEAD><TITLE>Импортные подшипники SKF INA FAG GMN, подшипники скольжения качения - Техспектр</TITLE>
<meta http-equip="Content-Type" content="text/html; charset=Windows-1251">
<META NAME="KeyWords" CONTENT="подшипник SKF GMN INA FAG Timken Torrington NSK Koyo обгонная муфта одностороннего вращения
 импортные каталог справочник размер стоимость Техспектр bearing качения скольжения линейные
 смазка доставка подшибник продажа замена съёмник куплю gjlibgybr">
<META NAME="Description" CONTENT="ТЕХСПЕКТР - поставка и продажа подшипников импортного производства.
Подшипники SKF, INA, FAG, GMN, Timken, Torrington, Koyo, NTN и другие. А также приборы и инструменты для обслуживания подшипников.">
<LINK media=print href="css/styles-print.css" type=text/css rel=stylesheet>
<LINK media=screen,tv,projection href="css/styles.css" type=text/css rel=stylesheet>


</HEAD>
<BODY>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class=bg><img src="img/p-null.gif" width="50" height="1" border="0"></td>
<td width="1" bgcolor="95C4A0"><img src="img/p-null.gif" width="1" height="1" border="0" alt=""></td>
<td width="1" bgcolor="White"><img src="img/p-null.gif" width="1" height="1" border="0" alt=""></td>
<td width="100%">
	<table border="0" cellspacing="0" cellpadding="0">
	<tr valign="top"><td rowspan="3"><OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
 codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
 WIDTH="185" HEIGHT="150" id="techspectr_logo" ALIGN="">
<PARAM NAME=movie VALUE="techspectr_logo.swf"> <PARAM NAME=quality VALUE=high> <PARAM NAME=bgcolor VALUE=#FFFFFF> <EMBED src="img/techspectr_logo.swf" quality=high bgcolor=#FFFFFF  WIDTH="185" HEIGHT="150" NAME="techspectr_logo" ALIGN=""
 TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"></EMBED>
</OBJECT></td>
	<td width="100%">
		<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr>
		<td><img src="img/tcorn01.gif" width="20" height="24" border="0" alt=""></td>
		<td class=tmbg width="100%"></td>
		<td class=tmbg>
			<table border="0" cellspacing="0" cellpadding="0"><tr>
			<td><a href="http://www.techspectr.ru/"><img src="img/icon_home.gif" width="26" height="23" border="0"
			                                alt="Компания Техспектр - продажа подшипников со склада и под заказ: подшипники FAG, INA, SKF,
импортные подшипники, подшипники скольжения, подшипники качения"></a><br></td>
			<td><a href="http://www.techspectr.ru/" onclick="window.external.addFavorite('http://www.techspectr.ru','ТЕХСПЕКТР')">
			                                <img src="img/icon_favorite.gif" width="26" height="23" border="0" alt="Добавить в избранное"></a><br> </td>
			<td><a href="http://www.techspectr.ru/sitemap.html"><img src="img/icon_sitemap.gif" width="26" height="23" border="0"
			                                 alt="Карта сайта"></a><br></td>
			</tr></table>
		</td>
				<td><img src="img/tcorn02.gif" width="20" height="24" border="0" alt=""></td>
		</tr></table>
	</td>
	</tr>
	<tr><td class=flash>
	<H1><P><B><I><U>Компания Техспектр предлагает импортные подшипники скольжения и подшипники качения:</U></I></B></P>
	<A HREF="http://www.techspectr.ru/manufacturers/skf.html"><B><I>подшипники SKF</I></B></A>,
	<A HREF="http://www.techspectr.ru/manufacturers/schaeffler.html"><B><I>подшипники INA</I></B></A>,
            <A HREF="http://www.techspectr.ru/manufacturers/schaeffler.html"><B><I>подшипники FAG</I></B></A>,
            <A HREF="http://www.techspectr.ru/manufacturers/nsk.html"><B><I>подшипники NSK</I></B></A>,
            <A HREF="http://www.techspectr.ru/manufacturers/koyo.html"><B><I>подшипники Koyo</I></B></A>,
            <A HREF="http://www.techspectr.ru/manufacturers/snr.html"><B><I>подшипники SNR</I></B></A>,
            <A HREF="http://www.techspectr.ru/manufacturers/ntn.html"><B><I>подшипники NTN</I></B></A>,
	<A HREF="http://www.techspectr.ru/manufacturers/timken.html"><B><I>подшипники Timken</I></B></A>,
	<A HREF="http://www.techspectr.ru/manufacturers/torrington.html"><B><I>подшипники Torrington</I></B></A>
</H1>







<br></td></tr>
<tr><td class=ufbg><img src="img/bg_utndfl.gif" width="33" height="20" border="0" alt=""></td></tr>
	</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td width="100%" class=orn_bt></td><td width="10"><img src="img/corner_orang.gif" width="10" height="10" border="0"></td></tr>
<tr><td class=cnt>

<table border="0" cellspacing="0" cellpadding="0"><tr><td class=tm>
<table border="0" cellspacing="2" cellpadding="2"><tr><td><img src="img/p-null.gif" width="16" height="1" border="0" alt=""></td>
<td><img src="img/m_li.gif" width="14" height="15" border="0"></td>
<td><a href="about.html">О компании</a></td>
<td><img src="img/m_li.gif" width="14" height="15" border="0"></td>
<td><a href="products.html">Продукция</a></td>
<td><img src="img/m_li.gif" width="14" height="15" border="0"></td>
<td><a href="manufacturers.html">Производители</a></td>
<td><img src="img/m_li.gif" width="14" height="15" border="0"></td>
<td><a href="delivery.html">Доставка</a></td>
<td><img src="img/m_li.gif" width="14" height="15" border="0"></td>
<td><a href="contacts.html">Контакты</a></td>






</tr></table>
</td></tr></table>
<div id="content" align="justify">


<div id="alarmrasprod">
Внимание! Распродажа подшипников со склада в Москве по крупнооптовым ценам!
</div>
<div id="textrasprod">Адрес и схему проезда смотрите в разделе "Контакты": <a href="http://techspectr.ru/contacts.html" target="_blank">http://techspectr.ru/contacts.html</a>
<br />

Уточняйте наличие по тел. (495) 649-58-05 у менеджеров.</div>


</div>
</td>
</tr>
</table>
</td>
</tr>
</table>


{% for device in devices %}

    <div class="device_block">
        <h3 class="device_block__title">{{ device.title }}</h3>
        <div class="device_block__desc">{{ device.description }}</div>
        <div class="device_block__price">{{ device.price }}₽</div>
    </div>


{% endfor %}
