<HTML><HEAD><TITLE>Импортные подшипники SKF INA FAG GMN, подшипники скольжения качения - Техспектр</TITLE>
<meta http-equip="Content-Type" content="text/html; charset=Windows-1251">
<META NAME="KeyWords" CONTENT="подшипник SKF GMN INA FAG Timken Torrington NSK Koyo обгонная муфта одностороннего вращения
 импортные каталог справочник размер стоимость Техспектр bearing качения скольжения линейные
 смазка доставка подшибник продажа замена съёмник куплю gjlibgybr">
<META NAME="Description" CONTENT="ТЕХСПЕКТР - поставка и продажа подшипников импортного производства.
Подшипники SKF, INA, FAG, GMN, Timken, Torrington, Koyo, NTN и другие. А также приборы и инструменты для обслуживания подшипников.">
<LINK media=print href="css/styles-print.css" type=text/css rel=stylesheet>
<LINK media=screen,tv,projection href="css/styles.css" type=text/css rel=stylesheet>


</HEAD>
<BODY>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class=bg><img src="img/p-null.gif" width="50" height="1" border="0"></td>
<td width="1" bgcolor="95C4A0"><img src="img/p-null.gif" width="1" height="1" border="0" alt=""></td>
<td width="1" bgcolor="White"><img src="img/p-null.gif" width="1" height="1" border="0" alt=""></td>
<td width="100%">
	<table border="0" cellspacing="0" cellpadding="0">
	<tr valign="top"><td rowspan="3"><OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
 codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
 WIDTH="185" HEIGHT="150" id="techspectr_logo" ALIGN="">
<PARAM NAME=movie VALUE="techspectr_logo.swf"> <PARAM NAME=quality VALUE=high> <PARAM NAME=bgcolor VALUE=#FFFFFF> <EMBED src="techspectr_logo.swf" quality=high bgcolor=#FFFFFF  WIDTH="185" HEIGHT="150" NAME="techspectr_logo" ALIGN=""
 TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"></EMBED>
</OBJECT></td>
	<td width="100%">
		<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr>
		<td><img src="img/tcorn01.gif" width="20" height="24" border="0" alt=""></td>
		<td class=tmbg width="100%"></td>
		<td class=tmbg>
			<table border="0" cellspacing="0" cellpadding="0"><tr>
			<td><a href="http://www.techspectr.ru/"><img src="img/icon_home.gif" width="26" height="23" border="0"
			                                alt="Компания Техспектр - продажа подшипников со склада и под заказ: подшипники FAG, INA, SKF,
импортные подшипники, подшипники скольжения, подшипники качения"></a><br></td>
			<td><a href="http://www.techspectr.ru/" onclick="window.external.addFavorite('http://www.techspectr.ru','ТЕХСПЕКТР')">
			                                <img src="img/icon_favorite.gif" width="26" height="23" border="0" alt="Добавить в избранное"></a><br> </td>
			<td><a href="http://www.techspectr.ru/sitemap.html"><img src="img/icon_sitemap.gif" width="26" height="23" border="0"
			                                 alt="Карта сайта"></a><br></td>
			</tr></table>
		</td>
				<td><img src="img/tcorn02.gif" width="20" height="24" border="0" alt=""></td>
		</tr></table>
	</td>
	</tr>
	<tr><td class=flash>
	<H1><P><B><I><U>Компания Техспектр предлагает импортные подшипники скольжения и подшипники качения:</U></I></B></P>
	<A HREF="http://www.techspectr.ru/manufacturers/skf.html"><B><I>подшипники SKF</I></B></A>,
	<A HREF="http://www.techspectr.ru/manufacturers/schaeffler.html"><B><I>подшипники INA</I></B></A>,
            <A HREF="http://www.techspectr.ru/manufacturers/schaeffler.html"><B><I>подшипники FAG</I></B></A>,
            <A HREF="http://www.techspectr.ru/manufacturers/nsk.html"><B><I>подшипники NSK</I></B></A>,
            <A HREF="http://www.techspectr.ru/manufacturers/koyo.html"><B><I>подшипники Koyo</I></B></A>,
            <A HREF="http://www.techspectr.ru/manufacturers/snr.html"><B><I>подшипники SNR</I></B></A>,
            <A HREF="http://www.techspectr.ru/manufacturers/ntn.html"><B><I>подшипники NTN</I></B></A>,
	<A HREF="http://www.techspectr.ru/manufacturers/timken.html"><B><I>подшипники Timken</I></B></A>,
	<A HREF="http://www.techspectr.ru/manufacturers/torrington.html"><B><I>подшипники Torrington</I></B></A>
</H1>







<br></td></tr>
<tr><td class=ufbg><img src="img/bg_undfl.gif" width="33" height="20" border="0" alt=""></td></tr>
	</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td width="100%" class=orn_bt></td><td width="10"><img src="img/corner_orang.gif" width="10" height="10" border="0"></td></tr>
<tr><td class=cnt>

<table border="0" cellspacing="0" cellpadding="0"><tr><td class=tm>
<table border="0" cellspacing="2" cellpadding="2"><tr><td><img src="img/p-null.gif" width="16" height="1" border="0" alt=""></td>
<td><img src="img/m_li.gif" width="14" height="15" border="0"></td>
<td><a href="about.html">О компании</a></td>
<td><img src="img/m_li.gif" width="14" height="15" border="0"></td>
<td><a href="products.html">Продукция</a></td>
<td><img src="img/m_li.gif" width="14" height="15" border="0"></td>
<td><a href="manufacturers.html">Производители</a></td>
<td><img src="img/m_li.gif" width="14" height="15" border="0"></td>
<td><a href="delivery.html">Доставка</a></td>
<td><img src="img/m_li.gif" width="14" height="15" border="0"></td>
<td><a href="contacts.html">Контакты</a></td>






</tr></table>
</td></tr></table>
<div id="content" align="justify">


<div id="alarmrasprod">
Внимание! Распродажа подшипников со склада в Москве по крупнооптовым ценам!
</div>
<div id="textrasprod">Адрес и схему проезда смотрите в разделе "Контакты": <a href="http://techspectr.ru/contacts.html" target="_blank">http://techspectr.ru/contacts.html</a>
<br />

Уточняйте наличие по тел. (495) 649-58-05 у менеджеров.</div>
<table class="rasprod">
<tr><td>Подшипники  </td><td>   Цена без НДС, руб </td><td>   Цена с НДС, руб </td><td> Производитель.</td><td>Тип</td></tr>
<tr><td>6000-2RSH</td><td>94,23</td><td>111,2</td><td>    SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6002-2RSH</td><td>111,05</td><td>131,04</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6008-2RS1</td><td>323,08</td><td>381,23</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6009-2RS1</td><td>366,79</td><td>432,81</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6011-2RS1</td><td>621,92</td><td>733,87</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>607-2RSH</td><td>  98,8</td><td> 116,58</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>608-2RSH</td><td> 98,49</td><td> 116,22</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>61800-2RS1</td><td>289,64</td><td>341,78</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>61801-2RS1</td><td>283,5</td><td> 334,53</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>61805-2RS1</td><td>470,34</td><td>  555</td><td>   SKF</td><td>шариковый радиальный</td></tr>
<tr><td>61806-2RS1</td><td>620,92</td><td>732,69</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>61900-2Z</td><td> 278,16</td><td>328,23</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>61902-2Z</td><td> 306,99</td><td>362,25</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>61905-2RS1</td><td>488,25</td><td>576,14</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>61908-2RS1</td><td>907,09</td><td>1070,37</td><td> SKF</td><td>шариковый радиальный</td></tr>
<tr><td>62/28-2RS1</td><td>363,85</td><td>429,35</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6201-2RSH</td><td>98,24</td><td> 115,92</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6201-2Z</td><td>  87,29</td><td> 103,01</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6202-2Z</td><td>  107,09</td><td>126,36</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6202-2Z/C3</td><td>107,09</td><td>126,36</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6203-2RSH</td><td>119,06</td><td>140,49</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6203-2Z</td><td>  141,75</td><td>167,27</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6203-2Z/C3</td><td>120,58</td><td>142,29</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6204-2RSH</td><td>140,15</td><td>165,38</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6204-2Z/C3</td><td>165,68</td><td>195,51</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6207-2Z/C3</td><td>272,94</td><td>322,07</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6208-2Z</td><td>  335,29</td><td>395,64</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6213-2RS1</td><td>1286,18</td><td>1517,7</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6213-2Z/C3</td><td>1403,62</td><td>1656,27</td><td> SKF</td><td>шариковый радиальный</td></tr>
<tr><td>624-2Z</td><td>98,49</td><td> 116,22</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>625-2Z</td><td>88,06</td><td> 103,91</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>626-2Z</td><td>75,81</td><td>  89,46</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>628/6-2Z</td><td> 238,39</td><td> 281,3</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>628/8-2RS1</td><td>231,18</td><td>272,79</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>628/8-2Z</td><td> 234,11</td><td>276,25</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>629-2RSH</td><td> 104,32</td><td> 123,1</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6300-2RSH</td><td>142,98</td><td>168,72</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6301-2RSH</td><td>146,66</td><td>173,06</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6303-2RSH</td><td>157,23</td><td>185,54</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6304-2RSH</td><td>182,06</td><td>214,83</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6305-2RS1</td><td>227,97</td><td>269,01</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6305-2Z</td><td>  271,23</td><td>320,05</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6307-2Z</td><td>  416,35</td><td>491,29</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6307-2Z/C3</td><td>416,35</td><td>491,29</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6308-2Z/C3</td><td>514,41</td><td>607,01</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6309-2Z</td><td>649,22</td><td>766,08</td><td>  SKF</td><td>шариковый радиальный</td></tr>
<tr><td>6311-2Z/C3</td><td>1211,62</td><td>1429,72</td><td> SKF</td><td>шариковый радиальный</td></tr>
<tr><td>FE 8044 Z 16</td><td>2867,86</td><td>3384,08</td><td> GMN</td><td>обгонная муфта роликовая</td></tr>
<tr><td>FE 8072 Z 13</td><td>3322,72</td><td>3920,81</td><td> GMN</td><td>обгонная муфта роликовая</td></tr>
<tr><td>FE 8072 Z 19</td><td>4125,6</td><td>4868,21</td><td> GMN</td><td>обгонная муфта роликовая</td></tr>
<tr><td>FK 6207 - 2RS</td><td>2836,07</td><td>3346,56</td><td> GMN</td><td>обгонная муфта шариковая</td></tr>
<tr><td>FKN 6203 RS</td><td>1305,08</td><td> 1540</td><td>   GMN</td><td>обгонная муфта шариковая</td></tr>
<tr><td>FKN 6206 - 2RS</td><td>2231,69</td><td>2633,4</td><td>  GMN</td><td>обгонная муфта шариковая</td></tr>
<tr><td>FKNN 6204-2RS</td><td>2115,57</td><td>2496,38</td><td> GMN</td><td>обгонная муфта шариковая</td></tr>
<tr><td>FKNN 6205-2RS</td><td>2158,28</td><td>2546,78</td><td> GMN</td><td>обгонная муфта шариковая</td></tr>
<tr><td>LBBR 16-2LS</td><td>446,73</td><td>527,14</td><td>  SKF</td><td>шариковая втулка линейного перемещения</td></tr>
<tr><td>LBBR 30-2LS</td><td>727,77</td><td>858,77</td><td>  SKF</td><td>шариковая втулка линейного перемещения</td></tr>
<tr><td>LBCR 25 А-2LS</td><td>1554,65</td><td>1834,48</td><td> SKF</td><td>шариковая втулка линейного перемещения</td></tr>
<tr><td>LBCR 30 А-2LS</td><td>2395,31</td><td>2826,46</td><td> SKF</td><td>шариковая втулка линейного перемещения</td></tr>
<tr><td>NATR 8 PPA</td><td>621,99</td><td>733,95</td><td>  SKF</td><td>опорный ролик</td></tr>
<tr><td>NK 20/16</td><td> 298,98</td><td> 352,8</td><td>  SKF</td><td>роликовый подшипник игольчатый</td></tr>
<tr><td>NK 40/30</td><td> 628,13</td><td> 741,2</td><td>  SKF</td><td>роликовый подшипник игольчатый</td></tr>
<tr><td>NKI 25/20</td><td>847,53</td><td>1000,09</td><td> SKF</td><td>роликовый подшипник игольчатый</td></tr>
<tr><td>NKI 30/30</td><td>1105,5</td><td>1304,49</td><td> SKF</td><td>роликовый подшипник игольчатый</td></tr>
<tr><td>NKI 40/20</td><td>822,03</td><td>  970</td><td>   SKF</td><td>роликовый подшипник игольчатый</td></tr>
<tr><td>NKIA 5903</td><td>785,9</td><td> 927,36</td><td>  SKF</td><td>одинарные комбинированные игольчатые подшипники</td></tr>
<tr><td>NKIA 5906</td><td>1176,98</td><td>1388,84</td><td> SKF</td><td>одинарные комбинированные игольчатые подшипники</td></tr>
<tr><td>NKIB 5906</td><td>2117,29</td><td>2498,41</td><td> SKF</td><td>двойные комбинированные игольчатые подшипники</td></tr>
<tr><td>VGF 15</td><td>6161,82</td><td>7270,95</td><td> GMN</td><td>обгонная муфта</td></tr>
<tr><td>VS 30</td><td>3216,55</td><td>3795,53</td><td> GMN</td><td>обгонная муфта роликовая</td></tr>
<tr><td>VS 35</td><td>3823,91</td><td>4512,22</td><td> GMN</td><td>обгонная муфта роликовая</td></tr>
<tr><td>VS 60</td><td>7808,81</td><td>9214,39</td><td> GMN</td><td>обгонная муфта роликовая</td></tr>
<tr><td>YET 206</td><td>581,68</td><td>686,39</td><td>  SKF</td><td>шариковый корпусной</td></tr>
</table>




<noindex>




<!--'СЧЕТЧИК'-->

<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='http://counter.yadro.ru/hit?t14.15;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border=0 width=88 height=31><\/a>")//--></script><!--/LiveInternet-->


<!--Rating@Mail.ru COUNTEr--><script language="JavaScript" type="text/javascript"><!--
d=document;var a='';a+=';r='+escape(d.referrer)
js=10//--></script><script language="JavaScript1.1" type="text/javascript"><!--
a+=';j='+navigator.javaEnabled()
js=11//--></script><script language="JavaScript1.2" type="text/javascript"><!--
s=screen;a+=';s='+s.width+'*'+s.height
a+=';d='+(s.colorDepth?s.colorDepth:s.pixelDepth)
js=12//--></script><script language="JavaScript1.3" type="text/javascript"><!--
js=13//--></script><script language="JavaScript" type="text/javascript"><!--
d.write('<a href="http://top.mail.ru/jump?from=1373764"'+
' target=_top><img src="http://d6.cf.b4.a1.top.list.ru/counter'+
'?id=1373764;t=214;js='+js+a+';rand='+Math.random()+
'" alt="Рейтинг@Mail.ru"'+' border=0 height=31 width=88/><\/a>')
if(11<js)d.write('<'+'!-- ')//--></script><noscript><a
target=_top href="http://top.mail.ru/jump?from=1373764"><img
src="http://d6.cf.b4.a1.top.list.ru/counter?js=na;id=1373764;t=214"
border=0 height=31 width=88
alt="Рейтинг@Mail.ru"/></a></noscript><script language="JavaScript" type="text/javascript"><!--
if(11<js)d.write('--'+'>')//--></script><!--/COUNTER-->

<!--'СЧЕТЧИК'-->

</NOINDEX>


<!--'ССЫЛКИ'-->



















<!--'МЕТРИКА'-->

<!-- YaMetrics begin -->
<script type="text/javascript"><!--
var ya_cid=73780;
//--></script>
<script src="http://bs.yandex.ru/resource/watch.js" type="text/javascript"></script>
<noscript><div style="display: inline;"><img src="http://bs.yandex.ru/watch/73780" width="1" height="1" alt=""></div></noscript>
<!-- YaMetrics end -->

<!--'МЕТРИКА'-->




<!--'УЛОВИТЕЛЬ http://www.liveinternet.ru'-->
<!--#include virtual="/li_spider_check.php?site_id=techspectr.ru"-->
<!--'УЛОВИТЕЛЬ http://www.liveinternet.ru'-->



</div>
</td>
<td width="247">
<img src="img/tel2.gif" alt="7 (495) 6-495-805, 174-24-25" width="247" height="116" border="0">
<OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
 codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
 WIDTH="247" HEIGHT="150" id="techspectr9" ALIGN="">
 <PARAM NAME=movie VALUE="techspectr9.swf"> <PARAM NAME=quality VALUE=high> <PARAM NAME=bgcolor VALUE=#FFFFFF> <EMBED src="techspectr9.swf" quality=high bgcolor=#FFFFFF  WIDTH="247" HEIGHT="150" NAME="techspectr9" ALIGN=""
 TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"></EMBED>
</OBJECT>
<div id="rp">
<br>
<a href="javascript:winop1();"><img src="img/order.gif" width="204" height="56" border="0" alt="Оформить заказ"></a>
<br><br>


<div id=search>
<table border="0" cellspacing="0" cellpadding="0"><FORM action=/cgi-bin/dsp.pl method="get">
<tr><TD><INPUT class=text id=search_string style="WIDTH: 120px" size=10 name=search_string></TD>
<td><input type="image" src="img/search.gif" width="17" height="18"></TD>
<INPUT type="hidden" value="simple" name="event"><INPUT type="hidden" value="search" name="cl"> </TR>
</FORM></table>
</div>

</div>


</td>
<td width="1" bgcolor="White"><img src="img/p-null.gif" width="1" height="1" border="0" alt=""></td>
<td width="1" bgcolor="95C4A0"><img src="img/p-null.gif" width="1" height="1" border="0" alt=""></td>
<td class=bg><img src="img/p-null.gif" width="50" height="1" border="0"></td>
</tr></table>
</td>
</tr>
</table>


</BODY></HTML>
